@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
  font-size: 20;
  text-align: center;
  vertical-align: center;
}
